div(class="text-center")
  h2.text-xl.font-bold #{city}
  p.text-lg #{temp}°C - #{condition}
  img(src=`https://openweathermap.org/img/wn/${icon}@2x.png` alt=description)
  p.text-sm.text-gray-500 #{description}
